
BRAINTRUST_API_KEY=

# If calling OpenAI directly, set this to https://api.openai.com/v1
# or your custom BASE_URL.
BASE_URL=https://gateway.braintrust.dev

# Name of your Braintrust org - exact match
# This is ignored if you are not using the gateway
BRAINTRUST_ORG_NAME=

# Set this env var to not route model calls through the Braintrust gateway.
# This will route all model calls through OpenAI directly, and hence will
# require the OPENAI_API_KEY to be set. Additionally, set the BASE_URL to
# either the OpenAI default or your custom one.
#DISABLE_BRAINTRUST_GATEWAY=
#OPENAI_API_KEY=
